<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1">
    <title>TEACHER PORTAL</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container text-center">
      <div>
        <form th:action="@{/login}" method="post">
          <label for="username">Staff ID</label>:
          <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
          <label for="password">Password</label>:
          <input type="password" id="password" name="password" /> <br />
          <input type="submit" value="Log in" class="btn badge-primary" />
        </form>
      </div>
    </div>
  </body>
</html>
