<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Edit Product</title>
      <link rel="stylesheet" href="../static/css/styles.css">
  </head>
  <body>
    <div align="center">
      <h1>Edit Product</h1>
      <br />
      <form action="#" th:action="@{/save}" th:object="${user}" method="post">
        <table border="0" cellpadding="10">
          <tr>
            <td>User ID:</td>
            <td>
              <input type="text" th:field="*{id}" readonly="readonly" />
            </td>
          </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{user.name}"/>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" th:field="*{plainpassword}"/>
                    <span th:if="${#fields.hasErrors('plainpassword')}" th:errorclass="error" th:errors="*{user.plainpassword}"/>
                </td>
            </tr>
            <tr>
                <td>Retype Password:</td>
                <td><input type="password" th:field="*{repassword}"/>
                    <span th:if="${#fields.hasErrors('repassword')}" th:errorclass="error" th:errors="*{user.repassword}"/>
                </td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td><input type="text" th:field="*{phoneNumber}"/>
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errorclass="error" th:errors="*{user.phoneNumber}"/>

                </td>
            </tr>

            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{email}"/>
                    <span th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{user.email}"/>
                </td>
            </tr>

            <tr>
                <td>Gender:</td>
                <td>
                    <span th:each="genderOption : ${genderList}">
                <input type="radio" th:field="${user.gender}" th:value="${genderOption}">
                <label th:for="${user.gender}" th:text="${genderOption}"></label>
              </span>
                    <span th:if="${#fields.hasErrors('gender')}" th:errorclass="error" th:errors="*{user.gender}"/>
                </td>
            </tr>

            <tr>
                <td>Birth of Date:</td>
                <td><input type="date" th:field="*{birthdate}"/>
                    <span th:if="${#fields.hasErrors('birthdate')}" th:errorclass="error" th:errors="*{user.birthdate}"/>
                </td>
            </tr>


            <tr>
                <td>Address:</td>
                <td><input type="text" th:field="*{address}"/>
                    <span th:if="${#fields.hasErrors('address')}" th:errorclass="error" th:errors="*{user.address}"/>
                </td>

                </td>
            </tr>

            <!----- Blood Group ---------------------------------------------------------->
            <tr>
                <td>Blood Group</td>
                <td>
                    <select field="*{bloodGroup}" name="bloodGroup">
                        <option th:each="p : ${listBloodGroup}" th:value="${p}" th:text="${p}"/>
                    </select>
                    <span th:if="${#fields.hasErrors('bloodGroup')}" th:errorclass="error" th:errors="*{user.bloodGroup}"/>
                </td>
            </tr>

            <tr>
                <td>Departement:</td>

                <td>
                   <span th:each="deparOption : ${departmentList}">
                <input type="radio" th:field="${user.department}" th:value="${deparOption}">
                <label th:for="${user.department}" th:text="${deparOption}"></label>
              </span>
                    <span th:if="${#fields.hasErrors('department')}" th:errorclass="error" th:errors="*{user.department}"/>
                </td>
            </tr>
            <tr>
                <td>Course:</td>
                <td>
                   <span th:each="courseOption : ${courseList}">
                <input type="checkbox" th:field="${user.course}" th:value="${courseOption}">
                <label th:for="${user.course}" th:text="${courseOption}"></label>
                &nbsp;
              </span>
                    <span th:if="${#fields.hasErrors('course')}" th:errorclass="error" th:errors="*{user.course}"/>
                </td>
            </tr>
            <td colspan="2"><button type="submit">Save</button> </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>