@charset "utf-8";

/* CSS Document for Cool Shoes and Socks */
/* Script Date: Octiber 26, 2015 */
/* Developed by: Your Name */

body {
    margin:0;
    font: arial, sans-serif 90%;
}

#wrapper {
    width:80%;
    margin:0 auto;
    background:url("../images/bg-league.jpg") repeat;
    height: 600px;
    background-color:#999;
    border:1px solid #444;
}

header {
    display:block;
    width:100%;
    float:left;
    background:#122;
    margin-bottom:20px;
}

h1 {
    font-size:2em;
    margin:40px 0 30px;
    border-bottom:1px #444;
    padding:10px 0;
    color:#fff;
    text-transform:uppercase;
    text-align:center;
    text-shadow:20px 12px 29px #4cff00;
}

#container {
    width:100%;
    float:left;
}


ol {
    font-family:Arial, 'Arial Narrow Bold', sans-serif;
    font-size:1em;
    background:#333;
    color:#fff;
    width:250px;
    margin:0 auto;
}

ol li {
    background:#666;
    border-bottom:1px dashed #999;
    padding:10px;
}

/* The laegue hase 10 teams. 
    the top 1 and 2 are promotional places,
    3 to 6 are play -off places,
    and 9 and 10 are relegation spots.

    We want to target each of these zones to style them appropriately
*/

ol li:nth-child(-n+2) {
    background:green;
}

ol li:nth-child(-n+6):nth-child(n+3) {
    background:blue;
}

ol li:nth-last-child(-n+2) {
    background:red;
}

ol li a:link {
    color:#fff;
}

ol li a:visited {
    color:purple;
}

ol li a:hover {
    color:green;
    background-color:#fff;
}
