/* CSS for Step 1: Defining the Content Area */
.logo {
    font-size: 3rem;
    font-weight: bold;
}
/* end of CSS for step 1*/


/*CSS for step 2*/
/* 
assign a height of 462px and center the image. Also assign the
value cover to the background-size property; this scales the 
background image to be as large as possible so that the background 
area is fully covered by the image. */
.masthead {
    background: url('../images/masthead.png') no-repeat center;
    height: 462px;
    background-size: contain; /* other value: cover, auto */
}

/* end of CSS for step 2*/

/*CSS for step 3 and 4*/
/*
add a margin to the rewardingContent class to set
the whitespace around the border. */
.rewardingContent,.hiredContent,.workEfficiency,.getPaid {
    margin-top:10px; 
}

/* use the display: block for the rewardingImg so that it 
occupies the space of the parent element. (You need to use 
the display: block property because Skeleton does not have 
any utility classes for responsive images.) 
Also define a width for the image and center it using 
margin: 0 auto. */
.rewardingImg,img.hiringImg,.messagingImg, .paidImg {
    width: 75%;
    margin: 0 auto;
    display: block;
}
/*end of CSS for step 3 and 4*/



/*CSS for final step*/
.footer{
    margin-top: 15px;
    background: #f8f8f8
}
/*end of CSS for final step*/