@charset "utf-8";

#container {
	background-image:url(../images/basin_bg.jpg);
}
#hero {
	background-image: url(../images/exterior.jpg);
}
#dining {
	background-image: url(../images/chef.jpg);
}
#sake {
	background-image:url(../images/sake.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
	padding-bottom:140px;
}
.content-medium {
	display:inline; /* Fixes double-margin bug in IE */
}