@charset "utf-8";

#container {
	width: 100%;
	max-width:700px;
	background-image: url(../images/basin_bg_tab.jpg);
	background-size:contain;
}
#header h1 {
	font-size: 58px;
	padding-left:0;
	padding-top:10px;
	text-align:center;
	margin-bottom: 0px;
}
/* Main navigation */
#nav {
	width: 660px;
	margin-left: auto;
	margin-right: auto;
}
#nav li a {
	width: 120px;
	padding: 10px 5px;
}
/* Main content on index page */
#hero {
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 15px;
	padding-left: 15px;
	width:auto;
	height:auto;
	min-height:279px;
	background-image: url(../images/exterior_tab.jpg);
	background-position: 265px;
}
#hero p {
	padding-right: 410px;
}
#hero h2 {
	padding-right: 0;
}
/* Content containers on other pages */
.content-wide {
	margin-right: 15px;
	margin-left: 15px;
	padding-right: 10px;
	padding-left: 10px;
}
.floatright.img-large {
	width: 450px;
}
.content-medium {
	float: none;
	width: auto;
}
.aside {
	margin-left: auto;
}
.content-medium, .aside {
	margin-right: 15px;
	margin-left: 15px;
	padding-right: 10px;
	padding-left: 10px;
}
/* Background images for individual sections */
#sake {
	background-position:440px bottom;
	background-repeat:no-repeat;
	background-image: url(../images/sake_tab.jpg);
}
#sake p {
	max-width:400px;
}
#blossom h3 + p {
	padding-right: 90px;
}
/* Alternate rules for screen widths in the range 401-680 px */
@media screen and (min-width: 401px) and (max-width: 680px) {
	#header h1 {
		font-size:40px;
		padding-top:7px;
	}
	#nav {
		width: 396px;
		height: 75px;
	}
	#nav li a {
		margin-bottom:2px;
	}
	#nav li:nth-child(4) a {
		margin-left:66px;
	}
	#hero {
		width: 87%;
		background-image:none;
		margin: 5px auto;
		min-height:0;
	}
	#hero p {
		padding-right:0;
	}
	#sake {
		background-position:380px bottom;
	}
	#sake p {
		max-width:340px;
	}
	.floatright, .floatleft {
		float:none;
		display:block;
		margin:10px auto;
		max-width:90%;
	}
}
/* Adjustments for form elements on screen widths less than 480px */
@media screen and (max-width: 480px) {
    select:last-of-type {
        display:block;
        margin-left:135px;
        margin-top:5px;
    }
    #adults {
        margin-right:80px;
    }
    input + label {
        padding-left:50px;
    }
    input[type=submit] {
        margin-left:50px;
    }
}

/* Larger font size for screen widths in the range 500-680 px */
@media screen and (min-width: 500px) and (max-width: 680px) {
	#header h1 {
		font-size:48px;
	}
}