@charset "utf-8";

/* CSS document for the Financial web page
Developed by: Hyunju Roh
Script dat: July4, 2022
*/

/* reset the layout */
* {
    margin: 0;
    padding: 0;
}


/* styling the body selector */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    background-color: beige;
    display: flex;
}

/* styling container id selector */
#container {
    width: 960px;
    /* Order for the box model: margin, border, and padding */
    margin: 0 auto;
    border: 1px solid #000080;
}

/* styling the header selector */
#header {
    width: 940px;
    /* TRBL */
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: #ff0;
    height: 25px;
    background: url(../images/blacktexture.jpg);"images/parksbg.gif"
    color: white;
    text-align: center;
    font-size: 1.5em;
}

/* styling the nav selector */
#top-nav {
    width: 940px;
    margin: 0 0 0 0;
    padding: 10px;
    background-color: dimgray;
    height: 20px;
    text-align: center;
}

/* styling the list items inside the nav menu */
#top-nav ul li {
    list-style-type: none;
    display: inline;

}

/* styling anchor selectors inside top-nav */
#top-nav ul li a {
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}


#top-nav ul li a:link {
    background-color: black;
    color: white;
    text-decoration: underline;
}

#top-nav ul li a:visited {
    color: blue;
} 

#top-nav ul li a:hover {
    text-decoration: underline;
    background-color: whitesmoke;
    color: black;
}

#top-nav ul li a:active {
    color: darkgray;
}

/* styling the left sidebar */
#left-sidebar {
    width: 30%;
    padding: 10px;
    height: 800px;
    float: left;
    border: 1px solid black;
}

#left-sidebar h1{
    background-color: blue;
    color: white;
    text-align: center;
    padding : 0.5em;
}

#left-sidebar h4{
    margin-top: 10px;
    font-family: Serif;
    font-weight: normal;

}

#left-sidebar img {
    float: left;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
/* styling the main selector */
#main {
    width: 33%;
    padding: 10px;
    height: 800px;
    float: left;
    border: 1.5px solid black;
}

#main h4{
    margin-top: 10px;
    font-family: Serif;
    font-weight: normal;

}

/* styling the right sidebar */
#right-sidebar {
    width: 30%;
    padding: 10px;
    height: 800px;
    float: right;
    border: 1px solid black;
}

#right-sidebar h1{
    background-color: blue;
    color: white;
    text-align: center;
    padding : 0.5em;
}

#right-sidebar h4{
    margin-top: 10px;
    font-family: Serif;
    font-weight: normal;

}
/* styling the foote selector */
#footer {
    width: 940px;
    padding: 10px;
    background-color: dimgray;
    height: 60px;
    clear: both;
    color: white;
    text-align: center;
}


/* styling the nav selector */
#bottom-nav
 {
    width: 940px;
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: dimgray;
    height: 20px;
    text-align: center;
}


/* styling the list items inside the nav menu */
#bottom-nav ul li {
    list-style-type: none;
    display: inline;

}


#bottom-nav ul li a {
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}


#bottom-nav ul li a:link {
    background-color: black;
    color: white;
    text-decoration: underline;
}

#bottom-nav ul li a:visited {
    color: blue;
}

#bottom-nav ul li a:hover {
    text-decoration: underline;
    background-color: whitesmoke;
    color: black;
}

#bottom-nav ul li a:active {
    color: darkgray;
}
