
body{
    background-color: #E8EAF5;
}

.header{
    background-color: #1C2379;
    width: 100%;
    color : white;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Edu SA Beginner', cursive;
    line-height: 15px;
    padding: 5px;
}
.header > h1{
    padding-top: 10px;
    margin: 10px 0px 0px 10px;
    font-weight: normal;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    vertical-align: center;

}
.header > h4{
    margin: 10px;
    font-weght: normal;
    text-align: left;
    vertical-align: center;
}

.main{
    background-color: white;
    border: 1px solid green;

}
.container{
    display: grid;
    background-color: #C6C9E6;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10,auto);
    margin: 10px;
    column-gap: 40px;

}
.address{
    display: grid;
    grid-template-row: repeat(3,auto);
    width: 70%;
}
.photocolor{
    display: grid;
    grid-template-row: repeat2(,auto);
    width: 70%;
}
.copy_box{
    display: grid;
    grid-template-row: repeat(2,auto);

}
.item{
    border: 1px solid red;
    height: 50px;
    margin: 10px;
}
.photodetail{
    grid-column: 1 / span 2;
    /*height: 25px;*/s
    background-color:#7C85C6;
    color: white;
    padding: 10px ;
}

#title{
    width: 100%;
}
.title_text{
    grid-column: 1 / span 2;
    margin: 10px;
    background-color:#C6C9E6;
}
.description_text{
    grid-column: 1 / span 2;
    margin: 10px;
}
#description{
    width: 100%;
}

.continent{
    margin: 10px;
}
.country{
    margin: 10px;
}
.city{
    margin: 10px;
}
.copyright{
    margin: 10px;
}
.types{
    margin: 10px;
}
.color_picker{
    margin: 10px;
}

.rate_photo{
    margin: 10px;
}

#rate_photo_text{
    width: 20%;
}

#continent_select{
    width: 100%;
}
#country_select{
    width: 100%;
}
#city_select{
    width: 100%;
}
.copyright{
    border: 1px solid grey;
    padding: 5px;
}

.types{
    border: 1px solid grey;
    padding: 5px;
}
.date_box{
    display: grid;
    grid-template-row: repeat(2,auto);
    padding: 5px;
    margin: 5px;
}

.datetake{
    border: 1px solid grey;
    border-bottom: 0px;
    padding: 5px;
}

.timetake{
    border: 1px solid grey;
    border-top: 0px;
    padding: 5px;
}

#date_take{
    margin: 5px;
}

#time_take{
    margin: 5px;
}

.accept{
    grid-column: 1 / span 2;
    background-color:#A0A8D6;
    margin: 10px;
    padding : 5px;
}

.buttonfield{
    grid-column: 1 / span 2;
    margin: 10px;
    background-color:#A0A8D6;
    margin: 10px;
    padding: 10px;
}

#submit_form{
    background-color: #E91E63;
    color: white;
    padding: 5px;
    width: 10%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px darkgreen;
}

#clear_form{
    background-color: #E91E63;
    color: white;
    padding: 5px;
    width: 10%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px darkgreen;
}
